@import "tailwindcss";
@import "swiper/css";

@theme {
  --default-font-family: var(--font-montserrat);

  --color-prime-dark: #000000;
  --color-prime-light: #ffffff;

  --color-prime-darkgray: #221e1e;

  --color-prime-red: #ff1820;

  --animate-slide-up: slideUp 0.3s ease-in-out;
  --animate-slide-down: slideDown 0.3s ease-in-out;
  --animate-to-bottom: toBottom 0.3s ease-in-out;
}

@layer utilities {
  button {
    @apply cursor-pointer;
  }

  .break br {
    @apply hidden lg:block;
  }

  .break-mobile br {
    @apply lg:hidden;
  }
}

@keyframes toBottom {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
